html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}
@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}
.container {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	width: 100%;
	display: flex;
}
a {
	width: 30%;
	display: block;
}
img, form, .selection, input[type="text"] {
	width: 100%;
}
h1 {
	padding-left: 25px;
	padding-right: 25px;
}
h2, h3 {
	margin: 0px;
}
.firstForm {
	border: 1px solid red;
	padding: 0px;
	margin-left: -1px;
	margin-bottom: 30px;
}
.formHead {
	color: white;
	padding: 10px 15px 10px 15px;
}
.firstForm .formHead {
	background-color: red;
}
.formGroup {
	border-bottom: 1px solid grey;
	padding: 10px;
}
.intakeChoice {
	padding-top: 5px;
}
label {
	width: 20%;
	padding-right: 10px;
}
.flex {
	display: flex;
	margin: 10px;
}
.selection select {
	width: 100%;
	height: 70%;
}
.hostelChoice, .genderChoice {
	padding-top: 5px;
	margin-left: -25px;
}
.formFoot {
	padding: 10px;
}
.secondForm {
	border: 1px solid gold;
	padding: 0px;
	margin-left: -1px;
	margin-top: -1px;
	margin-bottom: 30px;
}
.secondForm .formHead {
	background-color: gold;
}
.formContent {
	padding: 5px;
}
.blank {
	padding-top: 5px;
	width: 100%;
}
.thirdForm {
	border: 1px solid green;
	padding: 0px;
	margin-left: -1px;
	margin-bottom: 30px;
}
.thirdForm .formHead {
	background-color: green;
}
.fourthForm {
	border: 1px solid blue;
	padding: 0px;
	margin-left: -1px;
	margin-bottom: 30px;
}
.fourthForm .formHead {
	background-color: blue;
}
.academic {
	margin: 10px;
}
.fifthForm {
	border: 1px solid purple;
	padding: 0px;
	margin-left: -1px;
	margin-bottom: 30px;
}
.fifthForm .formHead {
	background-color: purple;
}
input[type="submit"] {
	width: 100%;
	height: 25px;
	margin-bottom: 30px;
	font-size: 15px;
}